.Principal{
    padding-top: 80px;
}
.p-col img{
    width: 300px;
    height: 300px;
    padding-left: 25px;  
    display: block;
    margin-left: 250px;
    margin-right: auto 
  }

.p-dropdown {
  width: 14rem;
}